/*CSS for mobile version
CSS para versão mobile*/
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Home Page */

.intropage {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(225deg, rgb(8, 43, 43), rgb(27, 102, 102));
    display: grid;
    grid-template-rows: 4fr 1fr;
    place-items: center;
    overflow: hidden;
}

.menuBarPrinc{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBarPrinc .menuNav{
    display: none;
}

.menuBarPrinc > img{
    height: 100px;
    width: 200px;
    padding: auto auto;
    animation: fadein 2s;
}

/* Fim da home Page */

/* Home Page quando clica no menu */
.menuOn .menuNav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.menuOn a {
    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(142, 150, 216);
    font-family: 'Orelega One';
    text-align: center;
    text-shadow: 2px 4px 5px black;
    animation: fadein 1.5s;
}

.menuOn img{
    display: none;
}

/* Fim da home Page quando clica no menu */


/* Menu sanduíche */

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(142, 150, 216);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .container
  {
      margin-top: -50px;
  }

  /* Fim do menu sanduíche */

  /*Responsividade*/

  @media screen and (min-width: 1000px) {
      .intropage {
          background-image: linear-gradient(225deg, rgb(32, 92, 40), rgb(124, 209, 135));
      }

      .container{
          display: none;
      }

      .menuBarPrinc {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
      }

      .menuBarPrinc .menuNav{
          display: flex;
          width: 90%;
         justify-content: space-between;
      }

      .menuNav a{
          font-size: 3rem;
          color: white;
          text-shadow: 1px 1px 1px black;
          padding: 0px 25px;
          background-image: linear-gradient(transparent 0%, transparent 90%, rgb(6, 61, 23) 90%, rgb(6, 61, 23) 100%);
          background-repeat: no-repeat;
          background-size: 0% 100%;
          background-position-x: right;
          transition: background-size 500ms;
      }

      .menuNav a:hover{
          background-size: 100% 100%;
          background-position-x: left;
      }
      
  }