@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.curriculo{
    width: 95%;
    max-width: 850px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    animation: fadein 1s;
}

.curriculo h1{
    font-size: 1.2rem;
}

.curriculo p{
    font-size: 0.9rem;
    text-align: justify;
}

.curriculo h2{
    font-size: 1.2rem;
    margin: 3px 0px;
}

.curriculo h3{
    font-size: 1rem;
}

.curriculo hr {
    height: 1px;
    border: none;
    background-image: linear-gradient(225deg, rgb(8, 43, 43), rgb(27, 102, 102));
    margin-bottom: 5px;
}

.curriculo a{
    color: black;
    text-decoration: underline;
    padding: 0px;
}

/*Responsividade*/

@media screen and (min-width: 1000px) {
    .curriculo{
        background-color: white;
        max-width: 1000px;
        padding: 10px 20px;
    }

    .curriculo h1{
        font-size: 3rem;
    }
    .curriculo p{
        font-size: 1.2rem;
    }

    .curriculo h2{
        font-size: 1.5rem;
    }

    .curriculo h3{
        font-size: 1.3rem;
    }
}